.app {
  min-height: 100vh; /* Ensure it covers at least the full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  background-image: url("../public/background1.jpg"); /* Path to your image */
  background-size: auto; /* Or you can specify a size to control how the image repeats */
  background-position: center top; /* Align the image at the top and center it horizontally */
  background-repeat: repeat-y; /* Repeat the image vertically */
}
body {
  background-color: #282c34;
  min-height: 100vh;
}

.app {
  padding-top: 10rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.todo {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
  padding: 0.5rem;
}

.todo-is-completed .checkbox {
  color: #000;
  background: #fff;
}

.todo-is-completed input {
  text-decoration: line-through;
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out;
  border: 1px solid #fff;
}

.checkbox:hover {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0);
}

.checkbox-checked {
  color: #000;
  background: #fff;
}

.star {
  cursor: pointer;
  margin-right: 8px;
  user-select: none;
}

.star:before {
  content: '\2606'; /* Empty star */
  font-size: 24px;
  color: #ccc; /* Light grey for not starred */
}

.todo .star.starred:before {
  content: '\2605'; /* Filled star */
  color: rgb(209, 209, 39); /* Yellow for starred */
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
  width: 500px;
}

input {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  color: #fff;
}

p {
  color: #fff;
}   


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  /* opacity: 0.8; */
  /* Make sure no element goes under the footer */
  z-index: 100;
}

.footer p {
  margin: 5px;
  color:black;
}

.footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Styling for button */
.btn {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.6;
  margin-bottom: 50px;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  transform: translateY(1px);
  opacity: 0.6;
}

@media (max-width: 768px) {
  .app {
    padding-top: 5rem; 
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .todo-list {
    width: 90%;
    max-width: 400px;
  }

  .todo {
    display: inline-flex;
    align-items: center;
    margin: 0.5rem 0; 
  }

  p {
    margin: 1rem 1rem;
    text-align: center;
  }

  ul {
    width: 100%; 
  }

  input, p {
    font-size: 1rem;
  }

  .checkbox {
    width: 24px; 
    height: 24px;
    margin-right: 5px; 
  }
}
